*{
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0;}
::-webkit-scrollbar-thumb{
	background-color:#A9A9A9;
}
body{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	font-family: Georgia;
	position: relative;
}
h4,h1{
	margin-bottom: 0px;
	margin-top:20px;
	padding:0 16px;
	letter-spacing: 5px;
}
.navBlock{
	z-index: 1;
	position: fixed;
	top:0;
	width:100%;
	height:54px;
	box-shadow:-2px 3px 17px -1px rgba(0,0,0,0.74);
	font-size:16px;
	line-height: 54px;
	background-color:white;
}
.navBar{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}
.menuItem{
	padding:18px 10px;
	text-decoration: none;
	color:#000000;
}
.menuItem:hover{
	background-color:#DCDCDC;
	transition: 1s;
}
hr{
	border:none;
	background-color:#DCDCDC;
	height: 1px;
    margin-top:20px;
    margin-bottom: 50px;
    width:1100px;
}
.mainPictureBlock,.mainPicture{
	position:relative;
	height:900px;
	width:100%;
	margin:auto;
	opacity: 0.8;
	margin-bottom: 40px;
}
.pictureText{
	position:absolute;
	bottom:80px;
	left:30px;
	font-size:75px;
	color:rgb(241, 232, 205);
	letter-spacing: 4px;
	}
.content{
	width:100%;
	}
.aboutBox,.boxMenu,.formBlock{
	width:1100px;
	height:780px;/* 780*/
	margin:auto;
	position:relative;
}
.img-aboutBox{
	height: 600px ;
	position: absolute;
	left:16px;
	width:45.5%;
	margin: 16px;
	opacity: 0.8;
	border-radius: 5px;
}
.aboutBox-text,.menu-list{
	width:45.5%;
	height:700px;
	margin:16px;
	text-align:justify;
    padding:16px;
	font-size: 18px;
	line-height: 1.5;
	}
.menu-list p{
	padding:0 16px;
	color:#808080;
	font-size: 16px;
}
.aboutBox-text{
	position:absolute;
	right:16px;
}
.aboutBox-header{
	text-align:center;
	margin:23px;
	}
.aboutBox-paragraph{
	text-align: center;
	margin:30px 0 0 10px;
}
.img-boxMenu{
	width:45.5%;
	height: 600px;
	position:absolute;
	top:0;
	right:16px;
	margin:16px;
	opacity: 0.8;
	border-radius: 5px;
}
.formBlock h1{
	text-align:left;
	margin:50px 0px 50px 16px;
}
.textForm p{
	color:black;
	margin:10px 16px;
	font-size: 16px;
	padding:0 16px;
}
.textForm{
	margin:16px;
}
.blueText p{
	color:#5F9EA0;
	margin: 15px 16px;
	font-size: 18px;
	padding:0 16px;
}
input{
 	font-size:18px;
	border:none;
	border-bottom: 1px solid #A9A9A9;
	padding:15px 10px;
	margin-left:16px;
	margin-right: 16px;
	margin-bottom: 20px;
	width:1000px;
	font-family: serif;
}
.forma{
	margin: 16px;
	padding: 10px 16px;
	text-align: left;
	box-sizing: border-box;
}
.subButton{
    font-weight: bold;
	border-bottom: none;
	background-color: #DCDCDC;
	
}
.subButton:hover{
	background-color:#C0C0C0;
	color:white;
	cursor: pointer;
}
.footer{
	grid-area: foot;
	width:100%;
	background-color:#D3D3D3;
	height:116px;
	text-align: center;
	margin:0;
	}
.footer-text{
	padding:16px;
	display:inline-block;
	line-height: 40px;
	font-size:13px;
}	
.footer-text a{
	margin-left:5px;
	text-decoration: underline;
}
.footer-text a:hover{
	background-color:black;
	color:#D3D3D3;
	border-radius: 5px;
	text-decoration: none;
}
.fixed-overlay {
	display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -380px;
    margin-top: -275px;
	
}
.modal_container {
    background-color: #fff;
    width: 800px;
    height: 550px;
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	padding:30px;
}
.seasonList{
	
	text-align: center;
}

.opnBtn{
	font-weight: bold;
	cursor: pointer;
}

.clsMod{
	display:none;
}
.opnMod{
	display:block;
}